*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}

input, button, textarea {
    font: inherit;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    font: inherit;
}

:root {
    --cor-branco: #FFFFFF;
    --cor-cinza-escuro: #1B1818;
    --cor-cinza-claro: #A7A7A7;
    --cor-cinza-background: #272626;
    --cor-cinza-button: #353535;
    --cor-amarelo-forte: #FFFF2B;
    --cor-amarelo-regular: #E3E229;
    --cor-amarelo-light: #EDEC5A;
    --cor-amarelo-ultra-light: #EDEC6F;
    --cor-roxo-exclusive: #FF00E5;
    --cor-verde: #00FF2F;
    --cor-vermelho: #FE0000;

    --font-montserrat: 'Montserrat', sans-serif;
    --font-nunito: 'Nunito', sans-serif;

    --font-size-text: 1.5rem;

    --font-weight-regular: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 800;

    --espaço-lateral: 65px;
    --espaço-entre-section: 140px;
    --espaço-lateral-container: 40px;
}

body {
    background-color: var(--cor-cinza-escuro);
    color: var(--cor-branco);
    font-family: var(--font-nunito);
    font-weight: var(--font-weight-regular);
}

.semibold-italic {
    font-weight: var(--font-weight-semibold);
    font-style: italic;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    white-space: nowrap;
}

.section-title {
    font-size: 64px;
    font-family: var(--font-montserrat);
    font-weight: var(--font-weight-bold);
    color: var(--cor-branco);
    text-align: center;
}

.section-subtitle {
    font-size: 32px;
    font-family: var(--font-nunito);
    font-weight: var(--font-weight-bold);
    color: var(--cor-cinza-claro);
    text-align: center;
    margin-bottom: var(--espaço-lateral-container);
}

.regular {
    font-weight: var(--font-weight-regular);
}

.semibold {
    font-weight: var(--font-weight-semibold);
}

.bold {
    font-weight: var(--font-weight-bold);
}

.extra-bold {
    font-weight: var(--font-weight-extra-bold);
}

.yellow {
    color: var(--cor-amarelo-forte);
}

.green {
    color: var(--cor-verde);
}

.red {
    color: var(--cor-vermelho);
}

.semibold-italic {
    font-weight: var(--font-weight-semibold);
    font-style: italic;
}

.essencial-color {
    background-color: var(--cor-branco);
}

.premium-color {
    background-color: var(--cor-cinza-button);
}

.exclusive-color {
    background-color: var(--cor-roxo-exclusive);
}

.main-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--espaço-lateral);
    min-height: 172px;
}

.logo-link {
    display: flex;
    font-family: var(--font-montserrat);
    flex-direction: column;
    line-height: 46px;
}

.logo-link span:first-child {
    font-size: 64px;
    color: var(--cor-amarelo-forte);
}

.logo-link span:last-child {
    font-size: 48px;
    text-align: center;
}

.main-navbar ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding: 10px;
}

.main-navbar ul li {
    display: flex;
    align-items: center;
}

.main-navbar ul li a {
    font-family: var(--font-nunito);
    font-size: 28px;
}

.main-navbar ul li a:hover {
    color: var(--cor-amarelo-forte);
    transition: color 0.3s ease;
    text-decoration: underline;
}

.main-navbar ul li:not(:first-child)::before {
    content: "|";
    color: var(--cor-branco);
    margin: 0 10px;
    font-size: 28px;
}

.hero-section {
    background-image: url('/IMG/HERO SECTION/hero_section.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 70vh;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.62);
    z-index: 1;
}

.hero-section-content {
    z-index: 2;
}

.hero-section-content button {
    background-color: var(--cor-amarelo-regular);
    font-size: 50px;
    font-weight: var(--font-weight-bold);
    padding: 32px 73px;
    transition: 0.3s ease;
}

.hero-section-content button:hover {
    border-radius: 30px;
}

.hero-section-content p {
    font-family: var(--font-montserrat);
    font-size: 32px;
    font-weight: var(--font-weight-bold);
    margin-top: 10px;
}

.service-section {
    margin-top: var(--espaço-entre-section);
}

.card-service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px var(--espaço-lateral);
    gap: 67px;
}

.card-service {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 300px;
    min-height: 600px;
    padding-left: 13px;
    position: relative;
}

.card-service::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.72);
    z-index: 1;
}

.card-service:nth-child(1) {
    background-image: url(/IMG/SERVICOS/gestao.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card-service:nth-child(2) {
    background-image: url(/IMG/SERVICOS/financeiro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card-service:nth-child(3) {
    background-image: url(/IMG/SERVICOS/marketing.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card-service-title {
    font-size: 48px;
    font-family: var(--font-montserrat);
    font-weight: var(--font-weight-regular);
    color: var(--cor-amarelo-regular);
    padding-top: 20px;
    z-index: 2;
}

.card-service-text {
    font-size: var(--font-size-text);
    font-family: var(--font-montserrat);
    font-weight: var(--font-weight-regular);
    padding-top: 13px;
    z-index: 2;
}