*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-size: 1rem;
}

body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}

input, button, textarea {
    font: inherit;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    font: inherit;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form textarea {
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
}


:root {
    --cor-branco: #FFFFFF;
    --cor-cinza-escuro: #1B1818;
    --cor-cinza-claro: #A7A7A7;
    --cor-cinza-background: #272626;
    --cor-cinza-button: #353535;
    --cor-amarelo-forte: #FFFF2B;
    --cor-amarelo-regular: #E3E229;
    --cor-amarelo-light: #EDEC5A;
    --cor-amarelo-ultra-light: #EDEC6F;
    --cor-roxo-exclusive: #FF00E5;
    --cor-verde: #00FF2F;
    --cor-vermelho: #FE0000;

    --font-montserrat: 'Montserrat', sans-serif;
    --font-nunito: 'Nunito', sans-serif;

    --font-size-text: 1.5rem;

    --font-weight-regular: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 800;

    --espaço-lateral: 4.0625rem;
    --espaço-entre-section: 8.75rem;
    --espaço-lateral-container: 2.5rem;
}

body {
    background-color: var(--cor-cinza-escuro);
    color: var(--cor-branco);
    font-family: var(--font-nunito);
    font-weight: var(--font-weight-regular);
}

.semibold-italic {
    font-weight: var(--font-weight-semibold);
    font-style: italic;
}

.visually-hidden {
    position: absolute;
    width: 0.0625rem;
    height: 0.0625rem;
    margin: -0.0625rem;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    white-space: nowrap;
}

.section-title {
    font-size: 4rem;
    font-family: var(--font-montserrat);
    font-weight: var(--font-weight-bold);
    color: var(--cor-branco);
    text-align: center;
}

.section-subtitle {
    font-size: 2rem;
    font-family: var(--font-nunito);
    font-weight: var(--font-weight-bold);
    color: var(--cor-cinza-claro);
    text-align: center;
    margin-bottom: var(--espaço-lateral-container);
}

@media (max-width: 450px) {
    .section-title {
        font-size: 3rem;
    }
    .section-subtitle {
        font-size: 1.5rem;
    }
}

.regular {
    font-weight: var(--font-weight-regular);
}

.semibold {
    font-weight: var(--font-weight-semibold);
}

.bold {
    font-weight: var(--font-weight-bold);
}

.extra-bold {
    font-weight: var(--font-weight-extra-bold);
}

.yellow {
    color: var(--cor-amarelo-forte);
}

.green {
    color: var(--cor-verde);
}

.red {
    color: var(--cor-vermelho);
}

.semibold-italic {
    font-weight: var(--font-weight-semibold);
    font-style: italic;
}

.essencial-color {
    background-color: var(--cor-branco);
    border-color: var(--cor-branco);
}

.premium-color {
    background-color: var(--cor-amarelo-regular);
    border-color: var(--cor-amarelo-regular);
}

.exclusive-color {
    background-color: var(--cor-roxo-exclusive);
    border-color: var(--cor-roxo-exclusive);
}

.essencial {
    color: var(--cor-branco);
}

.premium {
    color: var(--cor-amarelo-regular);
}

.exclusive {
    color: var(--cor-roxo-exclusive);
}

.main-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--espaço-lateral);
    min-height: 10.75rem;
}

.logo-link {
    display: flex;
    font-family: var(--font-montserrat);
    flex-direction: column;
    line-height: 2.875rem;
}

.logo-link span:first-child {
    font-size: 4rem;
    color: var(--cor-amarelo-forte);
}

.logo-link span:last-child {
    font-size: 3rem;
    text-align: center;
}

.main-navbar ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding: 0.625rem;
}

.main-navbar ul li {
    display: flex;
    align-items: center;
}

.main-navbar ul li a {
    font-family: var(--font-nunito);
    font-size: 1.75rem;
}

.main-navbar ul li a:hover {
    color: var(--cor-amarelo-forte);
    transition: color 0.3s ease;
}

.main-navbar ul li:not(:first-child)::before {
    content: "|";
    color: var(--cor-branco);
    margin: 0 0.625rem;
    font-size: 1.75rem;
}

@media (max-width: 1700px) {
    .logo-link span:first-child {
        font-size: 4rem;
        color: var(--cor-amarelo-forte);
    }

    .logo-link span:last-child {
        font-size: 3rem;
        text-align: center;
    }

    .main-navbar ul li a {
        font-family: var(--font-nunito);
        font-size: 1.55rem;
    }

    .main-navbar ul li:not(:first-child)::before {
        content: "|";
        color: var(--cor-branco);
        margin: 0 0.625rem;
        font-size: 1.55rem;
    }
}

.menu-toggle-button {
    display: none;
}

.main-sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;
    width: 90%;
    max-width: 300px;
    height: 100vh;
    background-color: var(--cor-cinza-escuro);
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    align-items: center;
    line-height: 50px;
    font-size: 1.5rem;
}

.main-sidebar.active {
    right: 0;
}

.menu-toggle-button {
    color: var(--cor-branco);
    font-size: 2rem;
}

.close-button {
    color: var(--cor-branco);
    font-size: 2rem;
    align-self: flex-end;
    padding-right: 1rem;
    transition: color 0.3s ease;
}

.close-button:hover, .main-sidebar ul li:hover {
    color: var(--cor-amarelo-regular);
}

.main-sidebar ul {
    list-style-type: none;
    text-align: center;
}

@media (max-width: 1350px) {
    .menu-toggle-button {
        display: block;
    }

    .main-navbar {
        display: none;
    }
}

@media (max-width: 550px) {
    .main-header {
        padding: 0 30px;
    }
}


@media (max-width: 500px) {
    .logo-link {
        line-height: 2rem;
    }

    .logo-link span:first-child {
        font-size: 3rem;
        color: var(--cor-amarelo-forte);
    }

    .logo-link span:last-child {
        font-size: 2rem;
        text-align: center;
    }
}

@media (max-width: 400px) {
    .logo-link {
        line-height: 2rem;
    }

    .logo-link span:first-child {
        font-size: 2.5rem;
        color: var(--cor-amarelo-forte);
    }

    .logo-link span:last-child {
        font-size: 1.5rem;
        text-align: center;
    }
}

.hero-section {
    background-image: url('IMG/HERO_SECTION/hero_section.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 70vh;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.62);
    z-index: 1;
}

.hero-section-content {
    z-index: 2;
}

.hero-section-content button {
    background-color: var(--cor-amarelo-regular);
    font-size: 3.125rem;
    font-weight: var(--font-weight-bold);
    padding: 2rem 4.5625rem;
    transition: 0.3s ease;
}

@media (max-width: 600px) {
    .hero-section-content button {
        font-size: 2rem;
    }

    .hero-section-content p {
        font-size: 1.2rem;
    }
}

@media (max-width: 450px) {
    .hero-section-content button {
        font-size: 1.5rem;
    }

    .hero-section-content p {
        font-size: 1rem;
    }
}

.hero-section-content button:hover {
    border-radius: 1.875rem;
}

.hero-section-content p {
    font-family: var(--font-montserrat);
    font-size: 2rem;
    font-weight: var(--font-weight-bold);
    margin-top: 0.625rem;
}

.service-section {
    margin-top: var(--espaço-entre-section);
}

.card-service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px var(--espaço-lateral);
    gap: 4.1875rem;
}

.card-service {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 18.75rem;
    min-height: 37.5rem;
    padding-left: 0.8125rem;
    position: relative;
}

.card-service::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.72);
    z-index: 1;
}

.card-service:nth-child(1) {
    background-image: url(IMG/SERVICOS/gestao.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card-service:nth-child(2) {
    background-image: url(IMG/SERVICOS/financeiro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card-service:nth-child(3) {
    background-image: url(IMG/SERVICOS/marketing.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card-service-title {
    font-size: 3rem;
    font-family: var(--font-montserrat);
    font-weight: var(--font-weight-regular);
    color: var(--cor-amarelo-regular);
    padding-top: 1.25rem;
    z-index: 2;
}

.card-service-text {
    font-size: var(--font-size-text);
    font-family: var(--font-montserrat);
    font-weight: var(--font-weight-regular);
    padding-top: 0.8125rem;
    z-index: 2;
}

@media (max-width: 520px) {
    .card-service-title {
        font-size: 2.7rem;
    }
}

.about-us-section {
    margin: var(--espaço-entre-section) var(--espaço-lateral) 0 var(--espaço-lateral);
}

.about-us-content-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.about-us-text-container {
    align-items: stretch;
    flex: 2 1 50rem;
    font-weight: var(--font-weight-regular);
    font-size: 1.75rem;
}

@media (max-width: 720px) {
    .about-us-text-container {
        font-size: 1.5rem;
    }
}

@media (max-width: 520px) {
    .about-us-text-container {
        font-size: 1.2rem;
    }
} 

@media (max-width: 420px) {
    .about-us-text-container {
        font-size: 1rem;
    }
}

.about-us-text {
    font-family: var(--font-montserrat); 
}

.about-us-text:not(:last-child) {
    margin-bottom: 4.375rem;
}

.about-us-img-container {
    display: flex;
    flex: 1 1 37.5rem;
    gap: 1.25rem;
    flex-wrap: wrap;
    align-items: flex-start;
}

.about-us-img:first-child {
    background-image: url(IMG/SOBRE_NOS/sobre_nos_img_1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 14.0625rem;
    min-height: 79vh;
    max-height: 80vh;
    flex: 1 1 14.0625rem;
}

.about-us-img:last-child {
    background-image: url(IMG/SOBRE_NOS/sobre_nos_img_2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 14.0625rem;
    min-height: 60vh;
    flex: 1 1 14.0625rem;
}

.customer-testimonials-section {
    margin-top: var(--espaço-entre-section);
}

.swiper {
    overflow: hidden;
    background-color: var(--cor-cinza-background);
    border-radius: 2.5rem;
    width: calc(100% - (2 * var(--espaço-lateral)));
}

.swiper-wrapper {
    display: flex;
    padding-top: 6.875rem;
    align-items: stretch;
}

.swiper-slide {
    display: flex;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.swiper-slide:not(.swiper-slide-active) {
    opacity: 0.6;
    transform: scale(0.95);
}

.customer-testimonials-card {
    display: flex;
    flex: 0 0 auto;
    height: 26.25rem;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    background-color: #00000086;
    border-radius: 2.1875rem;
    padding: 1rem 1rem 0rem 3.3125rem;
}

.customer-testimonials-card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
    border-radius: inherit;
    z-index: -1;
    transform: scale(1.8);
}

.swiper-slide-je-santiago .customer-testimonials-card img {
    transform: scale(1.5);
    object-position: 0% 40%;
}

.swiper-slide-taty-montero .customer-testimonials-card img {
    transform: scale(1.25);
    object-position: 100% 100%;
}

.swiper-slide-zendaya-bao .customer-testimonials-card img {
    transform: scale(1.1);
    object-position: center 75%;
}

.swiper-slide-carl-anderson .customer-testimonials-card img {
    transform: scale(2.3);
    object-position: 20% 100%;
}

.swiper-slide-mary-page .customer-testimonials-card img {
    transform: scale(1.5);
    object-position: 20% 45%;
}

.swiper-slide-marcus-smart .customer-testimonials-card img {
    transform: scale(1);
    object-position: 45% 0%;
}

@media (max-width: 1500px) {
    .customer-testimonials-card img {
        transform: scale(1.0);
        object-position: center center;
    }
}

@media (max-width: 650px) {
    .swiper {
        width: 100%;
    }
}

@media (max-width: 450px) {
    .customer-testimonials-card {
        padding: 1rem;
        min-height: 15.625rem;
    }
    .swiper-slide-carl-anderson .customer-testimonials-card img {
        transform: scale(2.3);
        object-position: 50% 100%;
    }
}

.client-name {
    font-family: var(--font-montserrat);
    font-weight: var(--font-weight-bold);
    font-size: 2.5rem;
    color: var(--cor-amarelo-light);
}

.client-role {
    font-family: var(--font-montserrat);
    font-weight: var(--font-weight-semibold);
    font-size: 1.25rem;
    color: var(--cor-amarelo-ultra-light);
}

.client-quote {
    font-weight: var(--font-weight-regular);
    font-size: 1.5rem;
    max-width: 20rem;
}

.swiper-navigation-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
    gap: 2.5rem;
}

.fa-arrow-right {
    color: var(--cor-amarelo-regular);
    font-size: 2.1875rem;
    border-radius: 50%;
    border: var(--cor-amarelo-regular) 0.1875rem solid;
    padding: 0.9375rem;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.swiper-button-prev-icon {
    transform: scaleX(-1);
}

.swiper-button-prev-icon:hover,
.swiper-button-next-icon:hover {
    background-color: var(--cor-amarelo-regular);
    color: var(--cor-cinza-background);
    border: var(--cor-cinza-background) 0.1875rem solid;
}


.plans-section {
    margin-top: var(--espaço-entre-section);
    padding: 0rem var(--espaço-lateral);
}

.plans-card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    background-color: var(--cor-cinza-background);
    border-radius: 2.5rem;
    padding: 1.875rem 2.5rem;
    gap: 2.0625rem;
}

.plans-card {
    background-color: var(--cor-cinza-escuro);
    display: flex;
    flex-direction: column;
    flex: 1 1 18.75rem;
    border-radius: 1.875rem;
    justify-content: space-between;
    padding: 2.375rem 0.3125rem 4.375rem 1.25rem;
}

.plans-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plans-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plans-price {
    color: var(--cor-cinza-claro);
    font-weight: var(--font-weight-bold);
    font-size: 2rem;
    line-height: 0.5;
}

.plans-title {
    font-size: 3.5rem;
    font-family: var(--font-montserrat);
    font-weight: var(--font-weight-semibold);
}

.auxiliary-text-plans {
    font-size: 1.5rem;
    color: var(--cor-cinza-claro);
    font-weight: var(--font-weight-regular);
    font-family: var(--font-montserrat);
    text-align: center;
}

.benefits-text-plans {
    font-size: 1.2rem;
    font-family: var(--font-montserrat);
    font-weight: var(--font-weight-bold);
    margin: 3rem 0rem 3.625rem 0rem;
    text-align: center;
}

.plans-benefits-list {
    list-style: none;
    font-size: 1.3rem;
    font-family: var(--font-montserrat);
    font-weight: var(--font-weight-regular);
    line-height: 1.2;
    text-align: left;
    width: 100%;
}

.plans-benefits-list li {
    margin-bottom: 0.8125rem;
    position: relative;
    padding-left: 1.25rem;
}

.plans-benefits-list li::before {
    content: "\2022";
    position: absolute;
    left: 0;
    font-size: 2em;
    line-height: 1;
    top: -0.25em
}

.plans-card.card-essencial .plans-benefits-list li::before {
    color: var(--cor-branco);
}

.plans-card.card-premium .plans-benefits-list li::before {
    color: var(--cor-amarelo-regular);
}

.plans-card.card-exclusive .plans-benefits-list li::before {
    color: var(--cor-roxo-exclusive);
}

.plans-button {
    margin-top: 1.25rem;
    width: 70%;
    height: 5.3125rem;
    align-self: center;
    border-radius: 3.75rem;
    background-color: var(--cor-cinza-escuro);
    border: 0.25rem solid;
    font-size: 1.625rem;
    font-weight: var(--font-weight-bold);
    transition: 0.4s ease;
}

@media (max-width: 600px) {
    .plans-card-container {
        padding: 1rem 0rem;
    }

    .plans-section {
        padding: 0rem;
    }

    .plans-price {
        color: var(--cor-cinza-claro);
        font-weight: var(--font-weight-bold);
        font-size: 1.85rem;
        line-height: 0.5;
    }

    .plans-title {
        font-size: 3rem;
    }

    .auxiliary-text-plans {
        font-size: 1rem;
    }

    .benefits-text-plans {
        font-size: 1rem;
    }

    .plans-benefits-list {
        font-size: 1rem;
    }

    .plans-button {
        font-size: 1.375rem;
    }
}

.plans-button.essencial:hover {
    background-color: var(--cor-branco);
    color: var(--cor-cinza-escuro);
    border-color: var(--cor-branco);
}

.plans-button.premium:hover {
    background-color: var(--cor-amarelo-regular);
    color: var(--cor-cinza-escuro);
    border-color: var(--cor-amarelo-regular);
}

.plans-button.exclusive:hover {
    background-color: var(--cor-roxo-exclusive);
    color: var(--cor-cinza-escuro);
    border-color: var(--cor-roxo-exclusive);
}

.contact-section {
    margin-top: var(--espaço-entre-section);
    padding: 0rem var(--espaço-lateral);
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--cor-cinza-background);
    border-radius: 2.5rem;
}

.contact-text-area {
    display: flex;
    flex: 2 1 0;
    flex-direction: column;
    align-items: center;
    gap: 1.75rem;
    padding: 3.125rem 2.5rem;
}

.contact-text-area h4 {
    font-size: 4rem;
    font-family: var(--font-montserrat);
    font-weight: var(--font-weight-extra-bold);
    text-align: center;
}

.contact-text-area p {
    font-size: 2rem;
    font-weight: var(--font-weight-regular);
    line-height: 1.4;
}

@media (max-width: 1500px) {
    .contact-text-area p {
        font-size: 1.7rem;
    }
}

@media (max-width: 1400px) {
    .contact-text-area p {
        font-size: 1.6rem;
    }
}

@media (max-width: 1300px) {
    .contact-text-area p {
        font-size: 1.5rem;
    }
}

@media (max-width: 1200px) {
    .contact-text-area p {
        font-size: 2rem;
    }
}

@media (max-width: 700px) {
    .contact-text-area p {
        font-size: 1rem;
    }
}

@media (max-width: 450px) {
    .contact-text-area h4 {
        font-size: 3rem;
        font-family: var(--font-montserrat);
        font-weight: var(--font-weight-extra-bold);
        text-align: center;
    }
}

.contact-form {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    max-height: 43.75rem;
    background-color: var(--cor-cinza-escuro);
    border-radius: 2.5rem;
    align-items: center;
    margin: 3.125rem 2.5rem;;
}

.contact-form h5 {
    font-family: var(--font-montserrat);
    font-size: 2.5rem;
    font-weight: var(--font-weight-bold);
    padding-top: 2.125rem;
}

.contact-input-area {
    margin:2.0625rem 2.0625rem 0rem 2.0625rem;
    display: flex;
    flex-direction: column;
    gap: 1.625rem;
}

.contact-input {
    background-color: var(--cor-cinza-background);
    color: rgba(255, 255, 255, 0.26);
    height: 5.625rem;
    width: 28.5rem;
    border-radius: 3.4375rem;
    padding: 0rem 2.5rem;
}

.contact-input-area textarea {
    padding-top: 1.875rem;
}

.contact-input::placeholder {
    font-family: var(--font-montserrat);
    font-size: 1.375rem;
}

.contact-button {
    margin-top: 2.0625rem;
    margin-bottom: 1.875rem;
    width: 29.375rem;
    height: 6.25rem;
    border-radius: 3.4375rem;
    background-color: var(--cor-cinza-button);
    font-family: var(--font-montserrat);
    font-size: 2.625rem;
    font-weight: var(--font-weight-bold);
    color: var(--cor-branco);
    transition: 0.2s ease;
}

@media (max-width: 700px) {
    .contact-input {
        height: 5.625rem;
        width: 21.875rem;
    }

    .contact-button {
        width: 23.125rem;
        height: 6.25rem;
    }
}

@media (max-width: 600px) {
    .contact-form h5 {
        font-family: var(--font-montserrat);
        font-size: 2rem;
        font-weight: var(--font-weight-bold);
        padding-top: 2.125rem;
    }

    .contact-input {
        height: 5.625rem;
        width: 17.5rem;
    }

    .contact-button {
        width: 18.75rem;
        height: 6.25rem;
    }

}

@media (max-width: 520px) {
    .contact-section {
        margin-top: var(--espaço-entre-section);
        padding: 0rem;
    }

    .contact-form h5 {
        font-family: var(--font-montserrat);
        font-size: 2rem;
        font-weight: var(--font-weight-bold);
        padding-top: 2.125rem;
    }

    .contact-input {
        height: 5.625rem;
        width: 17.5rem;
    }

    .contact-button {
        width: 18.75rem;
        height: 6.25rem;
        font-size: 2rem;
    }

    .contact-input::placeholder {
        font-family: var(--font-montserrat);
        font-size: 1rem;
    }
}

@media (max-width: 420px) {
    .contact-section {
        margin-top: var(--espaço-entre-section);
        padding: 0rem;
    }

    .contact-form h5 {
        font-family: var(--font-montserrat);
        font-size: 1.6rem;
        font-weight: var(--font-weight-bold);
        padding-top: 2.125rem;
    }

    .contact-input {
        height: 5.625rem;
        width: 12.5rem;
    }

    .contact-button {
        width: 13.75rem;
        height: 6.25rem;
        font-size: 2rem;
    }

    .contact-input::placeholder {
        font-family: var(--font-montserrat);
        font-size: 1rem;
    }
}

@media (max-width: 365px) {
    .contact-text-area {
        padding: 3.125rem 0rem;
    }
}

.contact-button:hover {
    color: var(--cor-cinza-escuro);
    background-color: var(--cor-branco);
}

footer {
    display: flex;
    background-color: var(--cor-amarelo-light);
    color: black;
    margin-top: 60px;
    align-items: center;
    padding: 20px 40px; 
}

footer p {
    font-family: var(--font-montserrat);
    font-size: 20px;
    font-weight: var(--font-weight-extra-bold);
    flex-grow: 1;
    text-align: center;
}

.icons-footer {
    font-size: 40px;
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
    }
}